
body{
	font-size:15px;
}

#sticky {
  background-color: #fff;
  color: #000;
  font-size: 2em;
  padding: 0.5ex;
  }
#sticky.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  }

.topbar{
	background: #00B1BC;

}

.navbar li {
    float: left;
    color:black;
}
.navbar li a:hover{
    background: blue;
}
.nav li.active a{
	background-color: blue;
}

.form-actions{
	padding: 15px 3px 18px;
}

.navbar .brand {
	font-weight: bold;
}

p{
	font-family:georgia;
	font-size:14px;
	word-spacing:2px;
}

.whitebg{
	background-color: #fff;
}

ul{
	font-size: 14px;
	font-family:georgia;
	
}

span{
	font-family:arial;
	font-weight:bold;
}

h2{
	font-family:georgia;
}

strong{
	font-family:georgia;
	font-style:italic;
	font-size:18px;

}

.navbar .nav .active > a, .navbar .nav .active > a:hover{
	background-color: #475692;
}
