
body{
	margin-top:30px;
}
.carousel .item img{
	width:100%;
}

.topbar{
	background: #00B1BC;
	border
}

.well{
	border-radius: 0;
	border:0;
}
.carousel-control{
	top:50%;
}
.navbar{
	width:100%;
}

.navbar li {
    float: left;
    color:black;
}
.navbar li a:hover{
    background: blue;
}
.nav li.active a{
	background-color: blue;
}

.form-actions{
	padding: 15px 3px 18px;
}

.navbar .brand {
	font-weight: bold;
}

p{
	font-size:17px;
	word-spacing:2px;
	line-height:1.3em;
}

.whitebg{
	background-color: #fff;
}

ul{
	font-size: 14px;
}


span{
	font-weight:bold;
	font-size:16px;
}

h2{
}

strong{
	font-style:italic;
	font-size:18px;

}

.navbar .nav > li > a{
	color:black;
}


.navbar .nav .active > a, .navbar .nav .active > a:hover{
	background-color: #475692;
	color: white;
	text-decoration: none;
}


.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('/images/scroll-to-top.png') no-repeat;
}


::-webkit-scrollbar {  
    width:8px;
    height:8px;
    -webkit-border-radius: 4px;
    background-color:white;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color:transparent;
}

::-webkit-scrollbar-thumb {  
    background-color: rgba(053, 057, 071, 0.3);
    width: 6px;
    height: 6px;
    -webkit-border-radius:8px;
}

.section{
	padding-top:50px;
}

li{
	font-size: 17px;
}
 
 #back-top {
	position: fixed;
	bottom: 30px;
	margin-left: -150px;
}

#back-top a {

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover {
	color: #000;
}

/* arrow icon (span tag) */
#back-top span {
	width: 108px;
	height: 108px;
	display: block;
	margin-bottom: 7px;
	background:url(/images/scroll-to-top.png) no-repeat center center;

	/* rounded corners */
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;

	/* transition */
	-webkit-transition: 1s;
	-moz-transition: 1s;
	transition: 1s;
}
#back-top a:hover span {
}
