
body{
	font-size:15px;
	font-family:Arial Verdana;
	
}

#sticky {
  background-color: #fff;
  color: #000;
  font-size: 2em;
  padding: 0.5ex;
  }
#sticky.stick {
  position: fixed;
  top: 0;
  z-index: 10000;
  }

.topbar{
	background: #00B1BC;

}

.navbar li {
    float: left;
    color:black;
}
.navbar li a:hover{
    background: blue;
}
.nav li.active a{
	background-color: blue;
}

.form-actions{
	padding: 15px 3px 18px;
}

.navbar .brand {
	font-weight: bold;
}

p{
	font-size:15px;
	word-spacing:2px;
	font-family:Arial Verdana;
}

.whitebg{
	background-color: #fff;
}

ul{
	font-size: 14px;
}


span{
	font-weight:bold;
	font-size:16px;
}

h2{
}

strong{
	font-style:italic;
	font-size:18px;

}

.navbar .nav > li > a{
	color:black;
}


.navbar .nav .active > a, .navbar .nav .active > a:hover{
	background-color: #475692;
}


.scrollup{
    width:40px;
    height:40px;
    opacity:0.3;
    position:fixed;
    bottom:50px;
    right:100px;
    display:none;
    text-indent:-9999px;
    background: url('/images/scroll-to-top.png') no-repeat;
}


::-webkit-scrollbar {  
    width:8px;
    height:8px;
    -webkit-border-radius: 4px;
    background-color:white;
}

::-webkit-scrollbar-track,
::-webkit-scrollbar-track-piece {
    background-color:transparent;
}

::-webkit-scrollbar-thumb {  
    background-color: rgba(053, 057, 071, 0.3);
    width: 6px;
    height: 6px;
    -webkit-border-radius:8px;
    opacity:50%;
}

